
input.myshortinput {
    width: 125px;
}

.myselect {
    width: auto;
}

label.required {
    font-weight: bold;
    text-align: right;
}

/* not used right now. */
/*tr.mysmallfont td, tr.mysmallfont th {*/
    /*font-size:0.9em;*/
/*}*/
